In [29]:
# Importing packages
import pandas as pd
import seaborn as sns
from summarytools import dfSummary

In [39]:
# Importing data
battle_death_df = pd.read_csv("Data/battle_deaths.csv")
armed_conflict_df = pd.read_csv("Data/armed_conflict_19462022.csv")
gdp_df = pd.read_csv("Data/gdp_world.csv", skiprows=4)
mil_spending_df = pd.read_csv("Data/mil_spending.csv", skiprows=4)
education_df = pd.read_csv("Data/education_level.csv", skiprows=4)

In [38]:
# Cleaning of education_df
print(education_df)

                    Country Name Country Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                        Indicator Name     Indicator Code  \
0    Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
1    Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
2    Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
3    Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
4    Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
..                                                 ...                ...
261  Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
262  Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
263  Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
264  Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS
265  Educational attainment, at least completed low...  SE.SEC.CUAT.LO.ZS

     1960  1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0     NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1     NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
2     NaN   NaN   NaN   NaN   NaN   NaN  ...  13.125810        NaN        NaN
3     NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
4     NaN   NaN   NaN   NaN   NaN   NaN  ...  27.969761        NaN        NaN
..    ...   ...   ...   ...   ...   ...  ...        ...        ...        ...
261   NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
262   NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
263   NaN   NaN   NaN   NaN   NaN   NaN  ...  77.180908  66.386459  72.327881
264   NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
265   NaN   NaN   NaN   NaN   NaN   NaN  ...  53.486809        NaN  64.935226

          2018      2019       2020       2021      2022  2023  Unnamed: 68
0          NaN       NaN        NaN        NaN       NaN   NaN          NaN
1          NaN       NaN        NaN        NaN       NaN   NaN          NaN
2          NaN       NaN        NaN  11.631920  15.34292   NaN          NaN
3          NaN       NaN        NaN        NaN       NaN   NaN          NaN
4          NaN       NaN        NaN        NaN       NaN   NaN          NaN
..         ...       ...        ...        ...       ...   ...          ...
261        NaN       NaN        NaN        NaN       NaN   NaN          NaN
262        NaN       NaN        NaN        NaN       NaN   NaN          NaN
263        NaN  81.80468  79.255142  83.926857       NaN   NaN          NaN
264  37.650219       NaN        NaN        NaN       NaN   NaN          NaN
265        NaN       NaN        NaN        NaN       NaN   NaN          NaN

[266 rows x 69 columns]